// Flex
.flex-1 {
	flex: 1 1 0;
}
.flex-between-center {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

// Text
.text-dashed {
  border-bottom: 1px dotted;
}
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Wrap
.nowrap {
  white-space: nowrap;
}

// Show and hdie
.show {
  display: block;
}
.hidden {
  display: none;
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Overflow
.scroll {
  position: relative;
  overflow: auto;
}
.scroll-y {
  position: relative;
  overflow-y: auto;
}
.scroll-x {
  position: relative;
  overflow-x: auto;
}

// Widths
.w-5 {
  width: 5%
}
.w-10 {
  width: 10%
}
.w-15 {
  width: 15%
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
.mxw-25 {
  max-width: 25%;
}
.mxw-50 {
  max-width: 50%;
}
.mxw-75 {
  max-width: 75%;
}
.mxw-100 {
  max-width: 100%;
}

// Heights
.h-25 {
  height: 25%
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}
.mxh-25 {
  max-height: 25%;
}
.mxh-50 {
  max-height: 50%;
}
.mxh-75 {
  max-height: 75%;
}
.mxh-100 {
  max-height: 100%;
}