// // Base
// @import './reset';
// @import './typography';
// @import './responsiveness';

// // Components
// @import './components/buttons';
// @import './components/tables';

// // Html
// html {
// }
// html, body {
// }

// // Body 
// body {
// }

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}